.limitationsCard {
  max-width: 365px;
  padding: 32px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

.top {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.title {
  color: #253347;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
}

.text {
  color: #5e6e85;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 820px) {
  .limitationsCard {
    max-width: 335px;
  }
}
