.resultDescription {
  /* margin-bottom: 96px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultDescriptionImg {
  width: 564px;
  height: 533px;
}

.resultDescriptionTextContent {
  margin-left: 131px;
  max-width: 465px;
  margin-top: 184px;
}

.resultDescriptionTitle {
  margin-bottom: 1.875rem;
  color: #253347;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing: -2.4px;
}

.resultDescriptionText {
  color: #5e6e85;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* margin-bottom: 40px; */
}

@media screen and (max-width: 1440px) {
  .resultDescriptionImg {
    width: 39.167vw;
    height: auto;
  }
}

@media screen and (max-width: 1260px) {
  .resultDescription {
    margin-right: 43px;
    overflow: hidden;
    position: relative;
  }

  .resultDescriptionImg {
    width: 400px;
    /* height: 411px; */
    /* position: relative;
        right: 60px; */
  }

  .resultDescriptionTextContent {
    margin-left: 75px;
    max-width: 465px;
    /* margin-top: 184px; */
    margin-top: 60px;
  }

  .resultDescriptionTitle {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.2rem;
    /* letter-spacing: -0.1px; */
  }
}

@media screen and (max-width: 768px) {
  .resultDescriptionImg {
    position: relative;
    right: 60px;
  }

  .resultDescriptionTextContent {
    margin-left: 15px;
  }
}

@media screen and (max-width: 680px) {
  .resultDescription {
    flex-direction: column;
    margin-right: 0px;
  }

  .resultDescriptionImg {
    position: static;
  }

  .resultDescriptionText {
    max-width: 328px;
  }

  .resultDescriptionTextContent {
    margin-left: 15px;
  }
}
